<div class="navbar-header" style="padding:0 !important;background:white">

    <div class="logo" style="width:100% !important;">
        <img class="logo-icon" style="width:100% !important;height: 65px !important;" src="assets/images/logos/logoGrant.jpg">
        <!-- <span class="logo-text">FUSE</span> -->
    </div>

    <button mat-button class="toggle-button-navbar mat-icon-button" fuseNavbarVertical="toggleFold" fxHide.lt-lg>
        <mat-icon style="color:gray">menu</mat-icon>
    </button>

    <button mat-button class="toggle-button-navbar mat-icon-button" fuseNavbarVertical="closeBar" fxHide.gt-md>
        <mat-icon>arrow_back</mat-icon>
    </button>

</div>

<div class="navbar-content" fusePerfectScrollbar>
    <fuse-navigation layout="vertical"></fuse-navigation>
</div>
