<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>
    
        <!-- TOP BACKGROUND -->
        <div class="top-bg mat-accent-bg" style="background-color:#303f9f !important;"></div>
        <!-- / TOP BACKGROUND -->
    
        <!-- CENTER -->
        <div class="center">
    
            <!-- HEADER -->
            
            <div class="header white-fg"
            fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    
                <!-- APP TITLE -->
                <div class="logo my-12 m-sm-0"
                     fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">playlist_add</mat-icon> 
                    <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Contratos</span>
                </div>
                <!-- / APP TITLE -->
    
                <!-- SEARCH -->
                <!-- <div class="search-input-wrapper mx-12 m-md-0"
                     fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                    <label for="search" class="mr-8">
                        <mat-icon class="secondary-text">search</mat-icon>
                    </label>
                    <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                        <input id="search" matInput #filter placeholder="Search">
                    </mat-form-field>
                </div> -->
                <!-- / SEARCH -->
            <div 
            fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="flex-end">
                <a style="margin-right:20px;">
                    <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">print</mat-icon><br><div style='color:white'>Imprimir</div>
                </a>
                <a style="margin-right:20px;margin-left:20px">
                    <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">save</mat-icon><br><div style='color:white'>Guardar</div>
                </a>
                <a style="margin-right:20px;margin-left:20px">
                    <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">delete</mat-icon><br><div style='color:white'>Eliminar</div>
                </a>
                <a style="margin-right:20px;margin-left:20px">
                    <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">check</mat-icon><br><div style='color:white'>Autorizar</div>
                </a>
                <a style="margin-left:20px;">
                    <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">redo</mat-icon><br><div style='color:white'>Declinar</div>
                </a>
            </div>
            </div>
            <!-- / HEADER -->
    
            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg">
                    
            <div class="content" fusePerfectScrollbar>
                
                                <mat-tab-group dynamicHeight>
                
                                    <mat-tab label="Datos Generales" fusePerfectScrollbar>
                                        <ng-template>Personal</ng-template>
                                        <div fxLayout="row" fxFlex="100" fxLayoutWrap fusePerfectScrollbar>
                                            <div fxFlex="40" style='padding:20px;border-right: 1px solid #ebebe0;'>
                                                <form>
                                                    <mat-form-field style="width:100%; float: left;"> 
                                                    <mat-select matInput type="text" placeholder="Tipo de Contrato" style="color:white;" required>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;"> 
                                                    <mat-select matInput type="text" placeholder="Agente" style="color:white;" required>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Nombre o Razon Social del Contratante" required>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Correo Electronico" required>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Calle" required>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Colonia" required>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Delegacion o Municipio" required>
                                                    </mat-form-field>
                                                    <mat-form-field style="margin-top: 1px;width:50%; float: left;"> 
                                                    <mat-select matInput type="text" placeholder="Tipo de Pasaporte/Licecia/INE" style="color:white;" required>
                                                        </mat-select>
                                                    </mat-form-field>
                    
                                                    <mat-form-field style='margin-top: 1px;width:50%;float:right'>
                                                        <input matInput placeholder="Numero de Pasaporte/Licencia/INE"  required>    
                                                    </mat-form-field>
                    
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Beneficiario del Plan" required>
                                                    
                                                    </mat-form-field>
                                                   
                    
                                                </form>
                                            </div>
                                            <div fxFlex="20" style='padding:20px;border-right: 1px solid #ebebe0;'>
                                                <form>
                                                    <mat-form-field style='width:100%;float:left'>
                                                        <input matInput placeholder="No. de Solicitud" required>
                                                    </mat-form-field>
                    
                    
                                                    <mat-form-field  style='width:100%;float:left'>
                                                        <mat-select matInput type="text" placeholder="Facturar" style="color:white;" required>
                                                        </mat-select>
                                                    
                                                    </mat-form-field>
                    
                                                    <mat-form-field style="width:100%;float:left">
                                                            <input matInput placeholder="R. F. C." required>           
                                                    </mat-form-field>
                                                    <mat-form-field  style='width:100%;float:left'>
                                                    <mat-select matInput type="text" placeholder="Forma de Pago" style="color:white;" required>
                                                    </mat-select>
                                                    </mat-form-field>
                                                            
                                                    <mat-form-field style='width:100%;float:left'>
                                                        <input matInput placeholder="No. Exterior"  required>           
                                                    </mat-form-field>
                                                    
                                                    <mat-form-field  style='width:100%;float:left'>
                                                        <mat-select matInput type="text" placeholder="Pais" style="color:white;" required>
                                                        </mat-select>
                                                        </mat-form-field>
                                                        
                    
                                                        <mat-form-field style='width:100%;float: left;'>
                                                            <input matInput type="text" placeholder="Telefono Casa" >
                                                        </mat-form-field>
                                                        
                                                    <mat-form-field  style='width:100%;float:left'>
                                                        <mat-select matInput type="text" placeholder="Actualizar Contrato" style="color:white;" required>
                                                        </mat-select>
                                                        </mat-form-field>
                                                        
                                                        <mat-form-field  style='width:100%;float:left'>
                                                            <mat-select matInput type="text" placeholder="Parentesco" style="color:white;" required>
                                                            </mat-select>
                                                            </mat-form-field>
                                                        
                    
                                                </form>
                                            </div>
                                            <div fxFlex="20" style='padding:20px;border-right: 1px solid #ebebe0;'>
                                                <form>
                    
                                                    <mat-form-field style='width:100%;float:right'>
                                                        <input matInput placeholder="Fecha Inicio"  required>    
                                                    </mat-form-field>
                    
                                                    <mat-form-field  style='width:100%;float:right'>
                                                        <mat-select matInput type="text" placeholder="Frecuencia de Pago" style="color:white;" required>
                                                        </mat-select>
                                                    </mat-form-field> 
                    
                                                    <mat-form-field  style='width:100%;float:right'>
                                                    <mat-select matInput type="text" placeholder="Tipo de Persona" style="color:white;" required>
                                                    </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field  style='width:100%;float:right'>
                                                    <mat-select matInput type="text" placeholder="Banco Emisor" style="color:white;" required>
                                                    </mat-select>
                                                    </mat-form-field>
                                                            
                                                    <mat-form-field style='width:100%;float:right'>
                                                        <input matInput placeholder="No. Interior"  required>           
                                                    </mat-form-field>
                                                    
                                                        
                                                    <mat-form-field  style='width:100%;float:right'>
                                                        <mat-select matInput type="text" placeholder="Estado" style="color:white;" required>
                                                        </mat-select>
                                                        </mat-form-field>
                    
                                                        <mat-form-field style='width:100%;float: right;'>
                                                            <input matInput type="text" placeholder="Telefono Oficina" >
                                                        </mat-form-field>
                                                        
                                                        
                                                    <mat-form-field  style='width:100%;float:right'>
                                                        <mat-select matInput type="text" placeholder="Paga Comisiones" style="color:white;" required>
                                                        </mat-select>
                                                        </mat-form-field>
                                                        
                                                            <mat-form-field style='width:100%;float: right;'>
                                                                <input matInput type="text" placeholder="Fecha de Nacimiento" >
                                                            </mat-form-field>
                    
                                                </form>
                                            </div>
                                            <div fxFlex="20" style='padding:20px'>
                                                <form>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Fecha de Vencimiento" required>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Monto del Pago" required>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;"> 
                                                    <mat-select matInput type="text" placeholder="Sexo" style="color:white;" required>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Numero de Tarjeta" required>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="C. P." required>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Poblacion" required>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Telefono Movil" required>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;"> 
                                                    <mat-select matInput type="text" placeholder="Seguro de Vida" style="color:white;" required>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;"> 
                                                    <mat-select matInput type="text" placeholder="Sexo" style="color:white;" required>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </form>
                                            </div>
                                        </div>
                                    </mat-tab>
                
                                    <mat-tab label="Beneficiarios">
                                        
                                            <ng-template>Personal Information</ng-template>
                                        <div fxLayout="row" fxFlex="100" fxLayoutWrap>
                                            <div fxFlex="40" style='padding:20px;border-right: 1px solid #ebebe0;'>
                                                <form>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Contratante" required>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Beneficiario del Seguro" required>
                                                    </mat-form-field>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Correo Electronico" required>
                                                    </mat-form-field>
                                                </form>
                                            </div>
                                            <div fxFlex="20" style='padding:20px;border-right: 1px solid #ebebe0;'>
                                                <form>
                                                    <mat-form-field style='width:100%;float:left'>
                                                        <input matInput placeholder="No. de Solicitud" required>
                                                    </mat-form-field>
                                                        <mat-form-field  style='width:100%;float:left'>
                                                            <mat-select matInput type="text" placeholder="Parentesco" style="color:white;" required>
                                                            </mat-select>
                                                            </mat-form-field>
                                                            
                                                    <mat-form-field  style='width:100%;float:left'>
                                                        <mat-select matInput type="text" placeholder="Sexo" style="color:white;" required>
                                                        </mat-select>
                                                    
                                                    </mat-form-field>
                                                        
                    
                                                </form>
                                            </div>
                                            <div fxFlex="20" style='padding:20px;border-right: 1px solid #ebebe0;'>
                                                <form>
                    
                                                    <mat-form-field style='width:100%;float:right'>
                                                        <input matInput placeholder="Fecha de Inicio"  required>    
                                                    </mat-form-field>
                                                        
                                                    <mat-form-field style='width:100%;float: right;'>
                                                        <input matInput type="text" placeholder="Fecha de Nacimiento" >
                                                    </mat-form-field>
                                                    <mat-form-field style='width:100%;float: right;'>
                                                        <input matInput type="text" placeholder="% Seguro" >
                                                    </mat-form-field>
    
                    
                                                </form>
                                            </div>
                                            <div fxFlex="20" style='padding:20px'>
                                                <form>
                                                    <mat-form-field style="width:100%; float: left;">
                                                        <input matInput placeholder="Fecha de Vencimiento" required>
                                                    </mat-form-field>
                                                </form>
                                            </div>
                                            
                                            <div class="page-layout blank p-24" fusePerfectScrollbar>
                                                    
                                                    
                                                    <ngx-datatable
                                                    class="material striped"
                                                    [rows]="dataSource"            
                                                    [loadingIndicator]="loadingIndicator"
                                                    [columnMode]="'force'"
                                                    [headerHeight]="50"            
                                                    [footerHeight]="56"
                                                    [rowHeight]="'auto'"
                                                    [scrollbarH]="true"
                                                    [reorderable]="reorderable"
                                                    [selectionType]="'checkbox'"
                                                    [limit]="5"
                                                    (activate)='details($event)'
                                                    >
                                                    <ngx-datatable-column name="No" prop="no"></ngx-datatable-column>  
                                                     <ngx-datatable-column name="Nombre" prop="name"></ngx-datatable-column>
                                                     <ngx-datatable-column name="Parentesco" prop="relationship"></ngx-datatable-column>
                                                     <ngx-datatable-column name="Fec. Nacimiento" prop="birth"></ngx-datatable-column>
                                                     <ngx-datatable-column name="Sexo" prop="gender"></ngx-datatable-column>
                                                     <ngx-datatable-column name="% Seguro" prop="insurance"></ngx-datatable-column>
                                                     <ngx-datatable-column name="Correo Electronico" prop="email"></ngx-datatable-column>
                                                     
                                                </ngx-datatable>
                                                
                                                    
                                                    </div>
                                        
                                        </div>
    
                            
                                    
                
                                    </mat-tab>
    <!--             
                                    <mat-tab label="Team Members">
                
                
                                    </mat-tab> -->
                                </mat-tab-group>
                
                            </div>
                
    
            </div>
            <!-- / CONTENT CARD -->
        </div>
        <!-- / CENTER -->
    </div>
    