<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>
    
        <!-- TOP BACKGROUND -->
        <div class="top-bg mat-accent-bg" style="background-color:#303f9f !important;"></div>
        <!-- / TOP BACKGROUND -->
    
        <!-- CENTER -->
        <div class="center">
    
            <!-- HEADER -->
            <div class="header white-fg"
            fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    
                <!-- APP TITLE -->
                <div class="logo my-12 m-sm-0"
                     fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">accessibility</mat-icon> 
                    <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Afiliados</span>
                </div>
                <!-- / APP TITLE -->
    
                <!-- SEARCH -->
                <!-- <div class="search-input-wrapper mx-12 m-md-0"
                     fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                    <label for="search" class="mr-8">
                        <mat-icon class="secondary-text">search</mat-icon>
                    </label>
                    <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                        <input id="search" matInput #filter placeholder="Search">
                    </mat-form-field>
                </div> -->
                <!-- / SEARCH -->
            <div 
            fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="flex-end">
                <a style="margin-right:20px;">
                    <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">print</mat-icon><br><div style='color:white'>Imprimir</div>
                </a>
                <a style="margin-right:20px;margin-left:20px">
                    <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">help</mat-icon><br><div style='color:white'>Ayuda</div>
                </a>
            </div>
            </div>
            <!-- / HEADER -->
    
            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg">
                    <div class="page-layout blank p-24" fusePerfectScrollbar>
                            
                            
                            <ngx-datatable
                            class="material striped"
                            [rows]="dataSource"            
                            [loadingIndicator]="loadingIndicator"
                            [columnMode]="'force'"
                            [headerHeight]="50"            
                            [footerHeight]="56"
                            [rowHeight]="'auto'"
                            [scrollbarH]="true"
                            [reorderable]="reorderable"
                            [selectionType]="'checkbox'"
                            [limit]="5"
                            (activate)='details($event)'
                            >
                            <ngx-datatable-column name="Fecha" prop="date"></ngx-datatable-column>  
                             <ngx-datatable-column name="Aportacion" prop="shared"></ngx-datatable-column>
                             <ngx-datatable-column name="Costo 1" prop="cost1"></ngx-datatable-column>
                             <ngx-datatable-column name="Costo 2" prop="cost2"></ngx-datatable-column>
                             <ngx-datatable-column name="Costo 3" prop="cost3"></ngx-datatable-column>
                             <ngx-datatable-column name="Costo 4" prop="cost4"></ngx-datatable-column>
                             <ngx-datatable-column name="Saldos Vencidos" prop="expired_balance"></ngx-datatable-column>
                             <ngx-datatable-column name="Precio de Compra" prop="purchase_price"></ngx-datatable-column>            
                             <ngx-datatable-column name="Titulos Comprados" prop="purchased_titles"></ngx-datatable-column>
                              <ngx-datatable-column name="Titulos Acumulados" prop="acumulated_titles"></ngx-datatable-column> 
                              <ngx-datatable-column name="Valuacion Total" prop="total_valuation"></ngx-datatable-column>
                             
                        </ngx-datatable>
                        
                            
                            </div>
                
    
            </div>
            <!-- / CONTENT CARD -->
        </div>
        <!-- / CENTER -->
    </div>
    